#nav-area form a i {
    font-size: 30px;
    color: red;
    margin-right: 20px
}

#nav-area form a sup{
    font-size: 15px;
}

.fa-solid{
    cursor: pointer;
    font-size: 20px;
    color: red;
}

.fa-solid:hover{
    cursor: pointer;
    font-size: 20px;
    color: aqua;
}
